.member-form {
  font-family: "Poppins", sans-serif;

  .container {
    margin-bottom: 20px;
  }

  img {
    height: 70px !important;
  }

  button {
    background: #FC5185;
    border: 0;
    outline: 0;

    &:hover, &:focus {
      background: darken(#FC5185, 15%);
    }
  }
}