{% extends 'base.html.twig' %}

{% block title %}Contact | Mairie Rosières-près-Troyes{% endblock %}

{% block body %}

    <header class="bg-img">
        {{ include('_nav.html.twig') }}
        <div id="title">
            <p>Un problème ?</p>
            <span>Contactez nous !</span>
            <p class="description">Phasellus quis laoreet purus, id ultrices augue. Suspendisse luctus malesuada venenatis. Etiam feugiat nisi ac ex dapibus, at tristique turpis commodo.</p>
        </div>
    </header>

    <a href="https://github.com/FabhinoCy/mairie/issues" target="_blank" rel="noopener noreferrer" class="btn-contact">
        Signaler un problème
    </a>

    <h2 class="text-center fw-bold fs-3">
        Site réalisé par Fabien CURFS et Liam BOUDRAA
    </h2>

    <p class="fs-6 fst-italic fw-light text-center mb-5">
       Avec en figuration : Simon Guillet et Marvin Brosse
    </p>

{% endblock %}